<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <h2>Prediction Form</h2>
    <form id="predictionForm">
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama">

        <label for="jk">Jenis Kelamin</label>
        <select name="jk">
            <option value="0">Pria</option>
            <option value="1">Wanita</option>
        </select>

        <label for="umur">Umur</label>
        <input type="number" name="umur" id="umur">

        <label for="frekuensi">Frekuensi menonton drama/movie per Bulan</label>
        <select name="frekuensi">
            <option value="1">1-5 kali</option>
            <option value="2">6-10 kali</option>
            <option value="3">Lebih dari 10 kali</option>
        </select>

        <label for="menirukan">Apakah setelah melihat drama/movie, Anda pernah mencoba untuk menirukan perilaku atau kebiasan karakter dalam drama/movie tersebut di kehidupan sehari-hari?</label>
        <select name="menirukan">
            <option value="0">Tidak</option>
            <option value="1">Ya</option>
        </select>

        <label for="emosi">Apakah saat menonton drama/movie, Anda selalu terbawa emosi? (Seperti sedih atau marah)</label>
        <select name="emosi">
            <option value="1">Sering</option>
            <option value="2">Tidak</option>
            <option value="3">Ya</option>
        </select>

        <label for="tercerminkan">Menurut Anda, apakah karakter dan keadaan dalam drama/movie tercerminkan di kehidupan nyata?</label>
        <select name="tercerminkan">
            <option value="1">Mungkin</option>
            <option value="2">Tidak</option>
            <option value="3">Ya</option>
        </select>

        <label for="mindset">Apakah setelah melihat drama/movie, mindset Anda terhadap suatu hal berubah?</label>
        <select name="mindset">
            <option value="1">Sering</option>
            <option value="2">Tidak</option>
            <option value="3">Ya</option>
        </select>

        <!-- Fitur tambahan dengan skala 1-5 -->
        <label for="sumber_inspirasi">Seberapa besar anda merasa drama/movie dapat menjadi sumber inspirasi bagi anda untuk mengubah perilaku sehari-hari?</label>
        <select name="sumber_inspirasi">
            <option value="1">Tidak Pernah</option>
            <option value="2">Jarang</option>
            <option value="3">Netral</option>
            <option value="4">Pernah</option>
            <option value="5">Selalu</option>
        </select>

        <label for="tindakan_positif">Seberapa sering anda merasa terinspirasi untuk melakukan tindakan positif setelah menonton drama/movie?</label>
        <select name="tindakan_positif">
            <option value="1">Tidak Pernah</option>
            <option value="2">Jarang</option>
            <option value="3">Netral</option>
            <option value="4">Pernah</option>
            <option value="5">Selalu</option>

        </select>

        <label for="cara_komunikasi">Dengan menonton drama/movie, cara berkomunikasi Anda dengan orang lain terpengaruhi</label>
        <select name="cara_komunikasi">
            <option value="1">Tidak Pernah</option>
            <option value="2">Jarang</option>
            <option value="3">Netral</option>
            <option value="4">Pernah</option>
            <option value="5">Selalu</option>
        </select>

        <button type="button" onclick="predict()">Predict</button>
    </form>

    <div id="predictionResultContainer">
        <h3>Prediction Result:</h3>
        <p id="predictionResult"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static\script.js"></script>
</body>

</html>